In [1]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../datasets/Data_Q1/housing.csv')

In [3]:
# coverting string data to integer category
data['ocean_proximity'] = pd.factorize(data['ocean_proximity'])[0]

In [4]:
# doing following since data contains null/NAN value
data = data.fillna(method='ffill')

#can also use x = x[~numpy.isnan(x)] for a feature
data.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [5]:
label = data['median_house_value']
data = data.drop(["median_house_value"], axis=1)
features = np.array(data)
label = np.array(label).reshape(-1,1)

In [6]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.642151,1425.476744,499.539680,3.870671,1.464729
std,2.003532,2.135952,12.585558,2181.615252,420.876678,1132.462122,382.329753,1.899822,0.854226
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,0.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,1.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,1.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,2.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,4.000000

In [7]:
x_train, x_test, y_train, y_test = train_test_split(features, label, test_size= 0.2, random_state=42)

In [8]:
# creating a lasso regression model
lrgre = linear_model.Lasso(alpha=1)

In [9]:
import time
#fitting the model
start = time.time()
lrgre.fit(x_train, y_train)
end = time.time()

In [10]:
y_pred = lrgre.predict(x_test)

In [11]:
# The mean squared error
mse = mean_squared_error(y_pred, y_test)
rmse = np.sqrt(mse)
print("Root mean squared error: %.2f"% rmse)
print("Training time : " + str(end - start) + ' seconds')

Root mean squared error: 71316.42
Training time : 0.0681459903717041 seconds