In [16]:
#importing the necessary libraries
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import pandas as pd
import matplotlib.pyplot as plt
from numpy.linalg import inv
from sklearn.model_selection import train_test_split

In [17]:
data = pd.read_csv('../datasets/Data_Q1/housing.csv')

In [18]:
# coverting string data to integer category
data['ocean_proximity'] = pd.factorize(data['ocean_proximity'])[0]

In [19]:
# doing following since data contains null/NAN value
data = data.fillna(method='ffill')

#can also use x = x[~numpy.isnan(x)] for a feature
data.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [20]:
#normalizing the data
mean  = data.mean()
deviation = data.std()
data = (data - data.mean())/data.std()

In [21]:
label = data['median_house_value']
data = data.drop(["median_house_value"], axis=1)
features = np.array(data)
label = np.array(label).reshape(-1,1)

In [22]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
count,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04
mean,-1.429215e-12,-7.636681e-14,1.817399e-15,-9.590802e-17,-6.957586e-17,-2.836528e-16,7.563865e-17,-2.523810e-14,-4.021672e-14
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-2.385935e+00,-1.447533e+00,-2.196127e+00,-1.207254e+00,-1.275058e+00,-1.256092e+00,-1.303952e+00,-1.774256e+00,-1.714685e+00
25%,-1.113182e+00,-7.967694e-01,-8.453727e-01,-5.445566e-01,-5.741400e-01,-5.637952e-01,-5.742155e-01,-6.881019e-01,-5.440348e-01
50%,5.389006e-01,-6.422715e-01,2.864502e-02,-2.332048e-01,-2.438770e-01,-2.291262e-01,-2.368104e-01,-1.767908e-01,-5.440348e-01
75%,7.784775e-01,9.729330e-01,6.642943e-01,2.347971e-01,2.598335e-01,2.644885e-01,2.758360e-01,4.592952e-01,6.266155e-01
max,2.625216e+00,2.957996e+00,1.856137e+00,1.681517e+01,1.403584e+01,3.024960e+01,1.460117e+01,5.858144e+00,2.967916e+00

In [23]:
x_train, x_test, y_train, y_test = train_test_split(features, label, test_size= 0.2, random_state=42)

In [24]:
X = x_train
Y = y_train
one = np.ones((len(X),1))
#...and add to feature matrix
X = np.concatenate((one, X), 1)
Y.size

16512

In [25]:
#GRADIENT DESCENT with newton's method

alpha = 0.01 #Step size
iterations = 20 #No. of iterations
m = Y.size #No. of data points
#np.random.seed(42) #Set the seed
W = np.random.rand(np.size(X,1)).reshape(-1,1) #Pick some random values to start with


#GRADIENT DESCENT
def gradient_descent(x, y, theta, iterations, alpha):
    past_costs = []
    past_thetas = [theta]
    for i in range(iterations):
        prediction = np.dot(x, theta)
        
        error = prediction - y
        
        cost = 1/(2*m) * np.dot(error.T, error)
        
        past_costs.append(cost)
        
        gradient = (1/m) * np.dot(x.T, error)
        
        hessian = 2 * np.dot(x.T,x) / m
        
        h_inv = np.linalg.inv(hessian)
        
        theta = theta - (np.dot( h_inv, gradient))
        
        past_thetas.append(theta)
        #print(theta)
        #print(past_thetas[0])
        
    return past_thetas, past_costs

In [26]:
import time
#Pass the relevant variables to the function and get the new values back...
start = time.time()

past_thetas, past_costs = gradient_descent(X, Y, W, iterations, alpha)

end = time.time()

W = past_thetas[-1]
np.shape(Y)
#Print the results...
#print("Parameters after Gradient Descent: {:.2f}, {:.2f}".format(W[0][0], W[1][0]))

(16512, 1)

In [27]:
# test set
X = x_test
Y = y_test
one = np.ones((len(X),1))
#...and add to feature matrix
X = np.concatenate((one, X),1)
np.shape(X)

(4128, 10)

In [28]:
y_pred = X.dot(W)

In [29]:
y_test2 = y_test*deviation['median_house_value'] + mean['median_house_value']
y_pred2 = y_pred*deviation['median_house_value'] + mean['median_house_value']

In [30]:
mse = mean_squared_error(y_pred2, y_test2)
rmse = np.sqrt(mse)
print("Root mean square error : ", rmse)
print("Training time : " + str(end - start) + ' seconds')

Root mean square error :  71316.5234307
Training time : 0.011029720306396484 seconds