In [1]:
#importing the necessary libraries
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import pandas as pd
import matplotlib.pyplot as plt
from numpy.linalg import inv
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('../datasets/Data_Q1/housing.csv')

In [3]:
# coverting string data to integer category
data['ocean_proximity'] = pd.factorize(data['ocean_proximity'])[0]

In [4]:
# doing following since data contains null/NAN value
data = data.fillna(method='ffill')

#can also use x = x[~numpy.isnan(x)] for a feature
data.isnull().any()

longitude             False
latitude              False
housing_median_age    False
total_rooms           False
total_bedrooms        False
population            False
households            False
median_income         False
median_house_value    False
ocean_proximity       False
dtype: bool

In [5]:
#normalizing the data
mean  = data.mean()
deviation = data.std()
data = (data - data.mean())/data.std()

In [6]:
label = data['median_house_value']

In [7]:
data = data.drop(["median_house_value"], axis=1)

In [8]:
features = np.array(data)

In [9]:
label = np.array(label).reshape(-1,1)

In [10]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity
count,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04,2.064000e+04
mean,-1.429215e-12,-7.636681e-14,1.817399e-15,-9.590802e-17,-6.957586e-17,-2.836528e-16,7.563865e-17,-2.523810e-14,-4.021672e-14
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-2.385935e+00,-1.447533e+00,-2.196127e+00,-1.207254e+00,-1.275058e+00,-1.256092e+00,-1.303952e+00,-1.774256e+00,-1.714685e+00
25%,-1.113182e+00,-7.967694e-01,-8.453727e-01,-5.445566e-01,-5.741400e-01,-5.637952e-01,-5.742155e-01,-6.881019e-01,-5.440348e-01
50%,5.389006e-01,-6.422715e-01,2.864502e-02,-2.332048e-01,-2.438770e-01,-2.291262e-01,-2.368104e-01,-1.767908e-01,-5.440348e-01
75%,7.784775e-01,9.729330e-01,6.642943e-01,2.347971e-01,2.598335e-01,2.644885e-01,2.758360e-01,4.592952e-01,6.266155e-01
max,2.625216e+00,2.957996e+00,1.856137e+00,1.681517e+01,1.403584e+01,3.024960e+01,1.460117e+01,5.858144e+00,2.967916e+00

In [11]:
x_train, x_test, y_train, y_test = train_test_split(features, label, test_size= 0.2, random_state=42)

In [12]:
X = x_train
Y = y_train
one = np.ones((len(X),1))
#...and add to feature matrix
X = np.concatenate((one, X), 1)
np.size(X,1)

10

In [13]:
import time
# ridge regression
a = 1
I = np.size(X,1)
A = np.identity(I)
alpha = a * A

start = time.time()

cost_regr = np.subtract((X.transpose().dot(X)), A)
coeffs_regr = inv(cost_regr).dot(X.transpose()).dot(Y)

end = time.time()
#coeffs_regr

In [14]:
# test set
X = x_test
Y = y_test
one = np.ones((len(X),1))
#...and add to feature matrix
X = np.concatenate((one, X),1)
np.shape(X)

(4128, 10)

In [15]:
y_pred_ridge = X.dot(coeffs_regr)

In [16]:
#denormalizing the labels
y_test = y_test*deviation['median_house_value'] + mean['median_house_value']
y_pred_ridge = y_pred_ridge*deviation['median_house_value'] + mean['median_house_value']

In [17]:
mse2 = mean_squared_error(y_pred_ridge, y_test)
rmse_ridge = np.sqrt(mse2)
print("Root mean square error with ridge regression : ", rmse_ridge)
print("Training time : " + str(end - start) + ' seconds')

Root mean square error with ridge regression :  71320.8387212
Training time : 0.008527755737304688 seconds