In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split

In [30]:
irisDf = pd.read_csv('../datasets/Data_Q2/iris.csv')

irisDf.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [51]:
len(irisDf['species'].unique())
irisDf['species'].value_counts()

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [57]:
values = { 'setosa' : 0, 'versicolor' : 1, 'virginica' : 2 }
df0 = irisDf['species'].map(values)

df1 = df0
df2 = df0
df3 = df0

df1 =

In [42]:
for i in range(len(irisDf['species'].unique())):
    target[i] = df2[  ]

0
1
2